.header{
    height: 55px;
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-color: rgb(255, 255, 255);
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 222, 222) ;


}

.left-section{
    display: flex;
    width: 150px;
    align-items: center;
    gap: 23px;


}

.hamburger-menu{
    height: 24px;
    margin-left: 24px ;
}

.YouTube-logo{
    height: 20px;
}

.middle-section{

    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 550px;
    display: flex;
    align-items: center;
}

.search-bar{
    box-shadow: inset 1px 2px 2px rgba(0,0,0, 0.3);
    border-radius: 1px;
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 1px;
    width: 0px;
   


}

.search-bar::placeholder {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.search-button{
    height: 40px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-width: 1px;

}

.search-button, 
.voice-search-button{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tool-tip,
.voice-search-button .tool-tip{
    position: absolute;
    background-color: rgb(210, 211, 210);
    /* margin-top: 80px; */
    /* height: 25px; */
    /* width: 50px; */
    padding: 4px;
    border-radius: 3px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: None;
    white-space: nowrap;
    font: bold;
}
.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip{
    opacity: 1;
    
}

.search-icon{
    height: 25px;

}

.voice-search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-left: 12px;
    border: none;
    background-color: rgb(252, 247, 247);

    position: relative;
}


.voice-search-icon{

    height: 24px;
}



.right-section{
    width: 190px;
    display: flex;
    justify-content: space-between;
    gap: 14px;
    align-items: center;
    margin-right: 20px ;
    flex-shrink: 0;
    
}

.upload-icon{
    height: 24px;
}

.youtube-app-icon{
    height: 24px;
}

.notification-icon{
    height: 24px;
}

.current-user-picture{
    height: 34px;
    border-radius: 50px;

}
.notification-count-icon{
    position: relative;
}

.notification-count{
    position: absolute;
    background-color: rgb(223, 28, 28);
    font-size: 12px;
    top: -3px;
    right: -5px;

    border-radius: 10px;
    color: white;
    font-family: Roboto, arial;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}